.head{
    background-color:#fff ;
    overflow: hidden ;
    padding: 16px 78px;
}
.logo{
    
    width: 130px;
    font-size: 32px;
    color: #0084ff;
    font: bolder;

}
.st{
    margin: 0px;
    font-weight: 500px;
    font-style: italic;
    margin-left: 20px;

}

body{
    background-color: gainsboro;
}

.headlist{
    color: #000;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    padding-top: 16px;
    
    
}
.other{
    display: inline-flex;
    
}
h1{
    margin: 10px;
    padding: 10px;
}
#all{
    color: #fff;
    background-color: #0084ff;


}
.filter{
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
}
.categories span{
    padding: 6px 14px;
    width: auto;
    color: #0084ff;
    border-radius: 15px;
    border: 1px solid #0084ff;
    margin: 5px;
    cursor: pointer;
    

}
.card{
    width: 30.1%;
    display: inline-block;
    background-color: azure;
    border-radius: 10px;
    margin:20px;
    box-shadow: 1px 1px 5px black; 
}

    

.image{
    height: 176px;
    width: 100%;
}


.image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}
.text-content{
    padding: 10px 24px ;

}

#author{
    font-style: italic;
    font-size: 14px;
    color:#0096ff ;
    font-weight: 500;

}
#date{
    color: rgba(0,0,0,0.7);
    font-weight: 300px;
    font-size: 14px;

}
p{
    margin: 10px;
    padding: 10px;
    color: rgba(0,0,0,.6);
    font-size: 14px;
    font-weight: 400px;
}
footer{
    background-color: #172146;
    padding:30px;
    font-size: 20px;
    margin: 30px;
    color: #fff;
}







